<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
<meta name="format-detection" content="telephone=no" />
<meta name="robots" content="noindex, nofollow" />
<title>Immigration and Refugee Support Portal</title>
<link href="/css/html5-doctor-reset-stylesheet.min.css" rel="stylesheet" />
<link href="/css/pc-style-basic.css" rel="stylesheet" />
</head>

<body>
<div id="wrapper">
	<header>
		<div>
			<h1><a href="index.html">Immigration and Refugee Support Portal</a></h1>
		</div>
	</header>

	<section id="static-list-area">
		<h2><span>Numm：</span><th:block th:text="${nammin_name}">Mark Jhonson</th:block></h2>
		<th:block th:with="gender=${new String[]{'Männlech','Weiblech'}}">
		<ul>
			<li><span>Sex：</span><th:block th:text="${gender[nammin_sex-1]}">男</th:block></li>
			<li><span>Alter：</span><th:block th:text="${nammin_age}">22</th:block></li>
		</ul>
		</th:block>


		<th:block th:with="categories=${new String[]{'Initial Health Check','Intern Medizin','COPD','Aidsmass','Diabetis'}}">
		<h3 th:text="${categories[category_id-1]}">呼吸器内科</h3>
		</th:block>
		<div class="list-area">
        <table class="interviewee-data">
            <colgroup>
                <col width="68%" />
                <col width="32%" />
            </colgroup>
            <tr>
                <th>Question Inhalt</th>
                <th>Äntwert</th>
            </tr>
			<th:block th:each="d : ${details}"><th:block th:switch="${d.questionId}">
				<tr th:case="0">
					<td>Hutt Dir irgendeng Allergien?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="1">
					<td>Fëmmt Dir fëmmt?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="2">
					<td>Ginn et abnormal Appetit?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="3">
					<td>Hutt Dir subjektiv Symptomer?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="4">
					<td>Wé si subjektiv Symptomer aus?</td>
					<td th:text="${d.answer}">answer</td>
				</tr>
				<tr th:case="5">
					<td>Wat sinn d'Symptomer?</td>
					<td th:text="${d.answer}">answer</td>
				</tr>
				<tr th:case="6">
					<td>Hutt Dir Dir zënter kuerzem uginn?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="7">
					<td>Hutt Dir schonns eng Klinik oder eng Chirurgie gehat?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="8">
					<td>Wat ass den Krankheeten?</td>
					<td th:text="${d.answer}">answer</td>
				</tr>
				<tr th:case="9">
					<td>Gitt et Medikamenter déi Dir am Moment drinken?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="10">
					<td>Wéi vill Zigare fëmmt Dir am Dag?</td>
					<td th:text="${d.answer}">10</td>
				</tr>
				<tr th:case="11">
					<td>Gitt Dir regelméisseg zimlech verstoppt wéi Dir op muer ass?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="12">
					<td>Hutt Dir dacks vill (Zezei, Hugh Hugh)?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="13">
					<td>Hutt Dir an de leschten 3 Méint verspreet?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="14">
					<td>Hutt Dir vun Ärer Famill gesot datt d'Atembeweegung während der Schlussstack vun den leschten 3 Méint ophält?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="15">
					<td>Hutt Dir Iech schloofend a schlofen oder schléift am Dag oder wann Dir an de leschten 3 Méint bleiwen sollt?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="16">
					<td>Ass et einfach ze Durst?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="17">
					<td>Hutt Dir gesot datt Blutzocker héich ass?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
				<tr th:case="18">
					<td>Huet Är Famill Diabetis?</td>
					<td th:text='${(d.answer == "1") ? "Jo" : "Nee"}'>はい</td>
				</tr>
			</th:block></th:block>
        </table>
    </div>
    <p class="btn-large" style="width:30%; margin:32px auto 0"><a href="javascript:postAPI()" onclick="">Schéckt eng Noriicht</a></p>
</section>
</div>
<!-- ログアウト -->
<form action="/doctor/logout" method="POST" name="form_logout">
	<input type="hidden" th:name="${csrfTokenName}" th:value="${csrfToken2}" />
</form>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script>
    function confirmLogout(){
        if(!confirm("Wëllt Dir ausloggen?")){
            return false;
        }else{
            form_logout.submit();
        }
    }
</script>
<script th:inline="javascript">
/*<![CDATA[>*/
var postData = {
    n_id: /*[[${namminID}]]*/ "1"
}
var csrfTokenName = /*[[${csrfTokenName}]]*/ "token";
postData[csrfTokenName] = /*[[${csrfToken}]]*/ "dummy";
function postAPI(){
    $.ajax({
      type: 'POST',
      url: "/doctor/api/requestNotification",
      data: postData
    });
    alert("Ech hunn eng Notifikatioun ugefrot");
}
/*]]>*/
</script>
</html>
